/*Autoria: Alinne */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f5;
  display: flex;
  color: #333;
}

/* Menu lateral */
.sidebar {
  width: 260px;
  background: linear-gradient(to right, #6ca98c, #5c8c75);
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  font-size: 16px;
  margin: 18px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 10px;
  border-radius: 6px;
}

/* Conteúdo principal */
.main-content, .lista-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;     
  background-color: #f4f6f5;
  height: 100vh;            
}

h1 {
  color: #5c8c75;
  margin-bottom: 30px;
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 400px;
  text-align: left;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

/*Caixa de texto */
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
  height: 42px; 
  background-color: #fff;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.btn-salvar {
  background-color: #6ca98c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-salvar:hover {
  background-color: #5c8c75;
}

.btn-curso {
  background-color: #6ca98c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-curso:hover {
  background-color: #5c8c75;
}

.btn-cancelar {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-cancelar:hover {
  background-color: #aaa;
}

/*Brilho ao selecionar caixa de texto */
input:focus, select:focus {
  outline: none;
  border-color: #6ca98c;
  box-shadow: 0 0 5px rgba(108, 169, 140, 0.6);
  transition: 0.2s ease-in-out;
}

/* Lista de instituições cadastradas */
.lista-container ul {
  list-style: none;
  padding: 0;
}

.lista-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px 20px;
  margin-bottom: 12px;
  background-color: #f9f9f9;
}

.lista-container .acoes {
  display: flex;
  gap: 10px; 
  margin-left: 20px;
}

.lista-container li .info strong {
  color: #3B6B55;
  flex: 1;
}

.lista-container button {
  padding: 6px 12px;
  font-size: 0.9rem;
}

.editar {
  background-color: #6ca98c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.remover {
  background-color: #c46b6b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.lista-container h3 {
  
    text-align: center;
  font-weight: 700;
  margin-top: 30px;    
  margin-bottom: 10px; 
  color: #5c8c75;
}
