* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f6fa;
  overflow-x: hidden;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* --- MENU LATERAL --- */
.sidebar {
  width: 250px;
  background: #6ca98c;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* --- CONTEÚDO PRINCIPAL --- */
.content {
  flex: 1;
  padding: 30px 50px;
}

/* --- CABEÇALHO --- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 28px;
  font-weight: 600;
}

.perfil-btn {
  border: none;
  background: #f2f3f5;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

/* --- CARDS --- */
.cards {
  display: flex;
  justify-content: flex-start;
  gap: 20px; /* espaço entre os cards */
  margin-bottom: 25px;
  flex-wrap: nowrap;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 25px 0;
  width: 220px; /*  largura maior */
  height: 130px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h2 {
  font-size: 32px;
  color: #6ca98c;
  margin-bottom: 8px;
}

.card p {
  font-size: 16px;
  font-weight: 500;
}

/* --- BOTÕES DE AÇÃO --- */
.actions {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.actions button {
  background: white;
  border: 1px solid #dcdcdc;
  padding: 22px 0;
  width: 220px; /*  igual aos cards */
  height: 65px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}

.actions button:hover {
  background-color: #f2f2f2;
}