body {
        margin: 0;
        height: 100vh; 
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    h1 {
      margin-top: 40px;  
      text-align: center; 
      color: black;
    }

    form {
      border: 1px solid rgb(220, 37, 68);
      margin-top: 30px;  
      padding: 80px;
      width: 300px;
      text-align: center; 
    }

    input {
      padding: 5px;
      width: 290px;
    }

    label{
        margin-right: 250px;
    }