body {
        margin: 0;
        height: 100vh; 
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    h1 {
      margin-top: 40px;  
      text-align: center; 
      color: black;
    }

    form {
      border: 2px solid black;
      margin-top: 50px;  
      padding: 30px;
      width: 500px;
      text-align: center; 
    }

    input {
      padding: 5px;
      width: 290px;
    }

    label[for="nova senha"] {
        margin-right: 240px;
    }

    label[for="confirmar senha"] {
        margin-right: 210px;
    }